
<h2>Support Request Submitted </h2>
<p>Dear <#FULLNAME>,</p>

 <p>Thank you for your request. We  will contact you within the next 72 hours. If this is a high priority request,  someone will contact you within 1 business day. For tracking purposes, please make sure you make a note of your <strong>Support Request ID number <#LISTITEMNUM></strong>.</p>

 <p>You will receive an email shortly  to confirm receipt of your request. </p>
 <p>Sincerely, </p>
 <p>Euclid Technology Customer Support Team<strong>&nbsp;</strong></p>
