<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title>Euclid Technology</title>
</head>
<body style="background:#F1F0F0;">
<table width="100%" cellpadding="0" cellspacing="0" style="background:#F1F0F0;">
<tr height="15">
    <td>&nbsp;</td>
</tr>
<tr>
  <td>
    <table width="750" style="background:#FFFFFF; border:1px solid #E3EEF2;" cellpadding="0" cellspacing="0" align="center">
        <tr style="background:#E9F3F7;" height="65" valign="middle">
            <th width="750" style="text-align:center;border-bottom:1px solid #E3EEF2;padding:0 15px 0 0;">
                <h2 style="font-weight:normal;font-size:28px;font-family:'Trebuchet MS',Arial,Helvetica,san-serif;margin:0;padding:0;"><a href="http://www.euclidtechnology.com/cvweb" style="color:#32566C;text-decoration:none;">Euclid Technology Support </a></h2>
            </th>
        </tr>
        <tr style="background:#F2F9FC;" height="50" valign="middle">
            <td width="750" style="text-align:center;border-bottom:1px solid #E9F3F7;padding:0 0 0 15px;">
                <h2 style="color:#107FA4;font-weight:normal;font-family:'Trebuchet MS',Arial,Helvetica,san-serif;font-size:20px;padding:0;margin:0;">Action Item <a href="https://www.euclidtechnology.com/support/ActionItem.aspx?cv_ActionItem=<#LISTITEMNUM>"><#LISTITEMNUM></a> has been updated.</h2>

            </td>
        </tr>
         <tr>
            <td style="font-size:12px;font-family:'Trebuchet MS',Arial,Helvetica,san-serif;padding:15px;color:#666666;line-height:18px;text-align:center;">
                <p><span style="color:red; font-size:1.4em; font-weight:bold;">Please do not respond to this email.<BR /></span> Click the above link to view or respond to this Action Item.</p>


            </td>
        </tr>
        <tr>
            <td>
                   <table cellpadding="0" cellspacing="15" style="font-size:12px;font-family:'Trebuchet MS',Arial,Helvetica,san-serif;border-top:1px dotted #DEDEDE;border-bottom:1px dotted #DEDEDE;line-height:18px;color:#333333;" align="center">
                      <tr>
                        <td colspan="4" valign="top"><b>Issue Summary</b></td>
                    </tr>
                         <tr>
                        <td width="450" valign="top" colspan="4"><#ACTIONCOMMENTS></td>

                    </tr>
                    <tr>
                        <td width="450" valign="top"><b>Reference ID</b></td>
                        <td width="250" valign="top"><#LISTITEMNUM></td>
                        <td width="250" valign="top"><b>Current Status</b></td>
                        <td width="250" valign="top"><#ACTIONSTT></td>
                    </tr>
                    <tr>
                        <td width="450" valign="top"><b>Submitted By</b></td>
                        <td width="250" valign="top"><#FULLNAME ALIAS=A></td>
                        <td valign="top"><b>Updated</b></td>
                        <td valign="top"><#UPDATETMS ALIAS=A></td>
                    </tr>
                    <tr>
                        <td width="450" valign="top"><b>Priority</b></td>
                        <td width="250" valign="top"><#ACTIONPRIORITY></td>
                        <td valign="top"><b>By</b></td>
                        <td valign="top"><#UPDATEUSERCD ALIAS=A></td>
                    </tr>
                    <tr>
                        <td width="450" valign="top"><b>Category</b></td>
                        <td width="250" valign="top"><#LISTNAME></td>
                        <td valign="top"><b>Assigned To</b></td>
                        <td valign="top"><#ACTIONASSIGNEDTOCD></td>
                    </tr>
                    <tr>
                        <td width="450" valign="top"><b>Action</b></td>
                        <td width="250" valign="top"><#ACTIONTYPE></td>
                        <td valign="top"><b>Assigned By</b></td>
                        <td valign="top"><#ACTIONASSIGNEDBYCD></td>
                    </tr>
                    <tr>
                        <td width="450" valign="top"><b>Assigned Date</b></td>
                        <td width="250" valign="top"><#ACTIONASSIGNEDDATE></td>
                        <td valign="top"><b>Target Delivery Date</b></td>
                        <td valign="top"><#ACTIONDATETARGET1></td>
                    </tr>
                </table>
                <table width="100%" cellpadding="0" cellspacing="15" style="font-size:12px;font-family:'Trebuchet MS',Arial,Helvetica,san-serif;border-top:1px dotted #DEDEDE;border-bottom:1px dotted #DEDEDE;line-height:18px;color:#333333;" align="center">
                    <caption align="center" style="font-size:16px;color:#32566C;padding:0 0 5px;">Related Documents</caption>
                    <tr style="text-align:left;">
                    <th style="text-align:left;">Title</th>
                    <th style="text-align:left;">Description</th>
                    <th style="text-align:left;">Type</th>
                    <th style="text-align:left;">Date</th>
                      <th style="text-align:left;">Uploaded By</th>
                        </tr>
                        <#FILELIST>
                </table>
                <table width="100%" cellpadding="0" cellspacing="15" style="font-size:12px;font-family:'Trebuchet MS',Arial,Helvetica,san-serif;border-top:1px dotted #DEDEDE;border-bottom:1px dotted #DEDEDE;line-height:18px;color:#333333;" align="center">
                    <caption align="center" style="font-size:16px;color:#32566C;padding:0 0 5px;">Action Item Message Log</caption>
                       <tr><td width="450" style="font-size:12px;font-family:'Trebuchet MS',Arial,Helvetica,san-serif;padding:15px;color:#666666;line-height:18px;">
                        <#ACTIONNOTE>
                        </td></tr>
                </table>
            </td>
        </tr>

        <tr>
          <td style="font-size:12px;font-family:'Trebuchet MS',Arial,Helvetica,san-serif;padding:15px;color:#666666;line-height:18px;text-align:center;"><p><span style="color:red; font-size:1.4em; font-weight:bold;">Please do not respond to this email.<br />
          </span> Click the above link to view or respond to this Action Item.</p></td>
        </tr>
        <tr>
            <td style="font-size:12px;font-family:'Trebuchet MS',Arial,Helvetica,san-serif;padding:15px;color:#666666;line-height:18px;text-align:center;">
                <br><p><strong><a href="https://www.euclidtechnology.com/support/ActionItem.aspx?cv_ActionItem=<#LISTITEMNUM>" style="color:#0188CC;text-decoration:none;">Click here</a> to view or update this Action Item</strong>.</p>
                <p>https://www.euclidtechnology.com/support/ActionItem.aspx?cv_ActionItem=<#LISTITEMNUM></p>
            </td>
        </tr>
<tr style="background:#F2F9FC;" height="100" valign="middle">
                    <td width="750" style="text-align:center;border-top:1px solid #E9F3F7;padding:0 15px 0 0;">
                        <p style="color:#107FA4;font-weight:normal;font-size:11px;font-family:'Trebuchet MS',Arial,Helvetica,san-serif;">
                            <b>Euclid Technology</b><br>
                            8120 Woodmont Avenue, Suite 710<br>
                            Bethesda, MD 20814<br>
                            (301) 657-8089<br>
                            <a href="mailto:support@euclidtechnology.com" style="color:#0188CC;text-decoration:none;">support@euclidtechnology.com</a>
                        </p>
                    </td>
                </tr>
    </table>
</td></tr>
<tr height="15">
    <td>&nbsp;</td>
</tr>
</table>
</body>
</html>
