<div class="row contentHeader">
    <div class="col-xs-6">
        <i class="fa fa-tasks cntHeaderIcon"></i>Action Items
    </div>
      <div class="col-xs-offset-4 col-xs-2">
      <form ng-submit="searchUserAi(searchAiNumber)">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search Action Items" ng-model="searchAiNumber" x-webkit-speech>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="searchUserAi(searchAiNumber)"><i class="fa fa-search"></i></button>
      </span>
    </div><!-- /input-group -->
    </form>
  </div><!-- /.col-lg-6 -->
</div>

<!--<div class="row">-->
<div class="col-xs-2 contentBox clientListBox">
    <h1>Client List</h1>
    <ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="#">ALL</a></li>
  <li><a href="#">SAVED</a></li>
  <li><a href="#">NACUA</a></li>
  <li><a href="#">COBAR</a></li>
  <li><a href="#">NCURA</a></li>
  <li><a href="#">HCCA</a></li>
  <li><a href="#">GMDC</a></li>
</ul>

</div>

<div class="col-xs-3 col-xs-offset-point25 contentBox aiListBox">
    <h1>Action Items</h1>
 <div class="list-group">
<!--
  <a href="#" class="list-group-item active">
    Cras justo odio
  </a>
-->
  <a ng-href="#/ai/{{ai.LISTITEMNUM}}" class="list-group-item" ng-repeat="ai in aiList">{{ai.NAMEFIND}} - {{ai.LISTITEMNUM}} <span class="label actionTypeSpan action{{ai.actionTypeClass}} pull-right">{{ai.ACTIONTYPE}}</span></a>
<!--
  <a href="#" class="list-group-item">Test AI #2</a>
  <a href="#" class="list-group-item">Test AI #3</a>
  <a href="#" class="list-group-item">Test AI #4</a>
-->
</div>
<!--    <input class="datepicker" />-->
    <br>
</div>

<div class="col-xs-6 contentBox aiDetailBox">
    <h1>Details</h1>
<!--    <a ng-click="aiService.openUserAi(ai.LISTITEMNUM)">View {{ai.LISTITEMNUM}} on Support</a>-->
     <button class="btn btn-default" style="margin-bottom:5px;" type="button" ng-click="openOnSupport(ai.LISTITEMNUM)"><i class="fa fa-globe"></i> {{ai.NAMEFIND}} {{ai.LISTITEMNUM}}</button>
    <div id="details"></div>


</div>
<!--</div>-->


