<div class="row contentHeader">
    <div class="col-xs-6">
        <i class="fa fa-tasks cntHeaderIcon"></i>Action Items - {{progress}}% Complete
    </div>
    <div class="col-xs-offset-4 col-xs-2">
        <form ng-submit="searchUserAi(searchAiNumber)">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Action Items" ng-model="searchAiNumber" x-webkit-speech>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="searchUserAi(searchAiNumber)">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
            <!-- /input-group -->
        </form>
    </div>
    <!-- /.col-lg-6 -->
</div>


<div class="col-xs-2 contentBox clientListBox">
    <h1>Client List</h1>
    <ul class="nav nav-pills nav-stacked">
        <li ng-class="{active: filterAisBy == ''}" ng-click="setAiFilter()">
            <a>ALL</a>
            <li ng-class="{active: filterAisBy == 'Saved'}" ng-click="setAiFilter()">
                <a>SAVED</a>
            </li>
            <li ng-repeat="ai in aiList | unique:'NAMEFIND' | orderBy:'NAMEFIND'" ng-click="setAiFilter(ai.NAMEFIND)" ng-class="{active: ai.NAMEFIND == filterAisBy}">
                <a>{{ai.NAMEFIND}}</a>
            </li>
    </ul>

</div>

<div class="col-xs-3 col-xs-offset-point25 contentBox aiListBox">
    <h1>Action Items</h1>
    <div class="list-group">

        <a ng-href="#/ai/{{ai.LISTITEMNUM}}" class="list-group-item row aiItemRow" ng-repeat="ai in aiList | filter:filterAisBy">
            <div class="aiStatusDiv col-xs-1">
                <span class="badge priority{{ai.ACTIONPRIORITY}}">{{ai.ACTIONPRIORITY}}</span>
            </div>
            <div class="aiNumberDiv col-xs-6">{{ai.NAMEFIND}} - #{{ai.LISTITEMNUM}}</div>
            <div class="aiStatusDiv col-xs-4">
                <span class="label actionTypeSpan action{{ai.actionTypeClass}}">{{ai.ACTIONTYPE}}</span>
            </div>

        </a>


    </div>

    <br>
</div>

<div class="col-xs-6 contentBox aiDetailBox">
    <h1>Details</h1>

    <button class="btn btn-default" style="margin-bottom:5px;" type="button" ng-click="openOnSupport(ai.LISTITEMNUM)">
        <i class="fa fa-globe"></i>{{ai.NAMEFIND}} {{ai.LISTITEMNUM}}</button>
    <div class="pull-right" style="margin-bottom:5px;">
        <button class="btn btn-default " data-toggle="modal" data-target="#aiResponseModal">
            <i class="fa fa-reply"></i>
        </button>
        <button class="btn btn-default " data-toggle="modal" data-target="#aiDocModal">
            <i class="fa fa-files-o"></i>
        </button>
        <button class="btn btn-default" type="button" ng-click="openOnSupport(ai.LISTITEMNUM);">
            <i class="fa fa-arrows-h"></i>
        </button>
        <button class="btn btn-default" type="button" ng-click="aiService.toggleBookmark(ai);">
            <i class=" fa fa-bookmark-o" ng-hide="ai.bookmarked"></i>
            <i class="fa fa-bookmark" ng-hide="ai.bookmarked !== true"></i>
        </button>
    </div>
    <div id="details">
        <div class="bs-callout bs-callout-info">{{ai.ACTIONCOMMENTS}}</div>
    </div>




</div>

<div class="modal fade" id="aiResponseModal" ng-controller="AiMessageController">
    <form ng-submit="sendAiMessage()" role="form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Reply to {{ai.NAMEFIND}} #{{ai.LISTITEMNUM}}</h4>
                </div>
                <div class="modal-body">


                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Reply</label>
                        <textarea class="form-control" id="aiMessageEditor" rows="3" ng-model="aiMessage" placeholder="Enter Response Message"></textarea>
                    </div>


                    <div class="checkbox">
                        <label>

                            <input type="checkbox" ng-model="emailConfig.SENDEMAIL_Check">Send Email {{emailConfig.SENDEMAIL_Check}}
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send Message</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </form>
</div>
<!-- /.modal -->
<!--</div>-->
<div class="modal fade" id="aiDocModal">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Documents for #{{ai.LISTITEMNUM}}</h4>
            </div>
            <div class="modal-body">

                <table class="table table-hover">
                    <tr>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Owner</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="doc in docs.docs">
                        <td>{{doc.TITLETXT}}</td>
                        <td>{{doc.DOCDATE}}</td>
                        <td>{{doc.OWNERNAME}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" ng-click="downloadDoc(doc.FILENAME)">Download</button>
                        </td>
                    </tr>
                </table>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->

</div>


