<div class="row contentHeader">
    <div class="col-xs-6">
        <i class="fa fa-tasks cntHeaderIcon"></i>Action Items - {{progress}}% Achievement Rating
    </div>
      <div class="col-xs-offset-4 col-xs-2">
      <form ng-submit="searchUserAi(searchAiNumber)">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search Action Items" ng-model="searchAiNumber" x-webkit-speech>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="searchUserAi(searchAiNumber)"><i class="fa fa-search"></i></button>
      </span>
    </div><!-- /input-group -->
    </form>
  </div><!-- /.col-lg-6 -->
</div>

<!--<div class="row">-->
<div class="col-xs-2 contentBox clientListBox">
    <h1>Client List</h1>
    <ul class="nav nav-pills nav-stacked">
  <li class="active" ng-click="setAiFilter()"><a>ALL</a></li>
  <li ng-repeat="ai in aiList | unique:'NAMEFIND' | orderBy:'NAMEFIND'" ng-click="setAiFilter(ai.NAMEFIND)"><a>{{ai.NAMEFIND}}</a></li>

</ul>

</div>

<div class="col-xs-3 col-xs-offset-point25 contentBox aiListBox">
    <h1>Action Items</h1>
 <div class="list-group">

    <a ng-href="#/ai/{{ai.LISTITEMNUM}}" class="list-group-item row aiItemRow" ng-repeat="ai in aiList | filter:filterAisBy">
        <div class="aiStatusDiv col-xs-1"><span class="badge priority{{ai.ACTIONPRIORITY}}">{{ai.ACTIONPRIORITY}}</span></div>
    <div class="aiNumberDiv col-xs-6">{{ai.NAMEFIND}} - #{{ai.LISTITEMNUM}} </div>
    <div class="aiStatusDiv col-xs-4"><span class="label actionTypeSpan action{{ai.actionTypeClass}}">{{ai.ACTIONTYPE}}</span></div>

    </a>


</div>

    <br>
</div>

<div class="col-xs-6 contentBox aiDetailBox">
    <h1>Details</h1>
     <button class="btn btn-default" style="margin-bottom:5px;" type="button" ng-click="openOnSupport(ai.LISTITEMNUM)"><i class="fa fa-globe"></i> {{ai.NAMEFIND}} {{ai.LISTITEMNUM}}</button>
     <button class="btn btn-default pull-right" style="margin-bottom:5px;" type="button" ng-click="openOnSupport(ai.LISTITEMNUM)"><i class="fa fa-arrows-h"></i> </button>

    <div id="details">
          <div class="bs-callout bs-callout-info"> {{ai.ACTIONCOMMENTS}}</div>
    </div>


</div>
<!--</div>-->


